{{>header}}
<br>
<form class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md" id="myform">
    <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
        <input type="email" id="email" name="email" class="border border-gray-300 p-2 w-full" placeholder="Ingresa tu email" required>
    </div>
    <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
        <input type="password" id="password" name="password" class="border border-gray-300 p-2 w-full" placeholder="Ingresa tu contraseña" required>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Iniciar Sesión</button>
    <a href="/api/sessions/github" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full mt-4 block text-center">Github</a>
</form>

<br>

<p class="text-center text-gray-700 font-bold">¿Has olvidado tu contraseña?</p>
{{#if message}}
<p class="text-center text-red-700 font-bold">{{message}}</p>
{{/if}}
<form class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md" id="reset-password-form">
    <div class="mb-4">
        <label for="reset-email" class="block text-gray-700 text-sm font-bold mb-2">Restablecer Contraseña</label>
        <input type="email" id="reset-email" name="reset-email" class="border border-gray-300 p-2 w-full" placeholder="Ingresa tu email" required>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Restablecer Contraseña</button>
</form>

<script src="/js/login.js"></script>