{{>header}}

<!-- Formulario de restablecimiento de contraseña -->
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <p class="text-center text-gray-700 text-lg font-bold mb-4">Restablecer Contraseña</p>
    <form id="reset-password-form">
        <!-- Campo oculto para el email -->
        <input type="hidden" id="email" name="email" value="{{email}}">

        <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="text" id="email-display" name="email-display" class="border border-gray-300 p-2 w-full rounded" value="{{email}}" readonly>
        </div>

        <div class="mb-4">
            <label for="new-password" class="block text-gray-700 text-sm font-bold mb-2">Nueva Contraseña</label>
            <input type="password" id="new-password" name="new-password" class="border border-gray-300 p-2 w-full rounded" placeholder="Ingresa tu nueva contraseña" required>
        </div>

        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Restablecer Contraseña</button>
    </form>
</div>


<script>
    //form resetear password
    const resetPassword=document.getElementById("reset-password-form");
    resetPassword.addEventListener("submit", (e) => {
        e.preventDefault();
        let password=document.getElementById("new-password").value;
        let email=document.getElementById("email-display").value;
        fetch("/api/sessions/reset-password",{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({password,email}),
        }).then(response=>{
            return response.json();
        }).then(data=>{
            alert(data.message);
            if(data.status==="success"){
                window.location.href="/"
            }
        }).catch(error=>{
            console.error('Error',error)
        })
    })
</script>